header {
  border-bottom: solid;
  border-width: 1px;
}
.mode {
  border: none;
  background-color: transparent;
}
.search {
  width: 30rem;
  padding-left: 3%;
  border-radius: 1%;
  border: none;
}
.countries {
  justify-content: space-between;
}
.card {
  margin-bottom: 4.5rem;
}
img {
  height: 150px;
  width: 300px;
}
.search_bar {
  width: 35%;
}
.notfound {
  font-size: 3rem;
}
.sortbypopulation {
  border: none;
  background-color: white;
  font-size: 0.8rem;
}
.arrows {
  font-size: 20px;
}
.detailImage {
  height: 25rem;
  width: 40rem;
}
.button {
  width: 5rem;
}
